.pnpm-store/*
.env
.env.*
!.env.example
node_modules/*
public/vite/assets/*
public/vite-dev/*

/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/storage/*
!/storage/.keep

*.log
*.pid
.DS_Store

public/vite/.vite/
