<% content_for :title, t("routes.view_title") %>
<% content_for :container_class, "container-fluid" %>
<% content_for :navbar_actions do %>
  <div class="d-flex gap-1 d-md-none me-1 align-items-center">
    <%# Bouton hamburger (menu d'actions) téléporté ici par RouteBuilder.vue (états réactifs) %>
    <span id="rb-navbar-actions" class="d-flex gap-1"></span>
  </div>
<% end %>
<div data-vue-component="RouteBuilder" data-vue-props='<%= { shareToken: @share_token }.to_json %>'></div>
