<% content_for :title, t("strava.activity_summary") %>

<div class="mb-3">
  <%= link_to t("strava.back_to_dashboard"), dashboard_path, class: "btn btn-link p-0" %>
</div>

<% if @strava_linked %>
  <div data-vue-component="ActivityDetail" data-vue-props='<%= { activityId: @activity_id }.to_json %>'></div>
<% else %>
  <div class="alert alert-info">
    <%= t("strava.not_linked") %>
    <%= button_to t("nav.link_strava"), "/auth/strava", method: :post, class: "btn btn-warning ms-2", data: { turbo: false } %>
  </div>
<% end %>
